<phpunit
        bootstrap="src/test/php/bootstrap.php"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        processUncoveredFilesFromWhitelist="true">

    <testsuites>
        <testsuite name="log4php-slack">
            <directory suffix=".php">src/test/php</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/main/php</directory>
        </whitelist>
    </filter>

</phpunit>
